<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Finder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<form method="post" action="index.php">
			<label>
				Введите путь:
				<input type="text" name="path" class="form-item" autofocus required>
			</label>
			<input type="submit" name="btn" value="Поиск" class="btn">
		</form>
	</div>
</body>
</html>